# Virtual environments
venv/
.env

# Python cache
__pycache__/
*.pyc

# Data files (large)
data/raw/
data/processed/
data/chunks/
data/embeddings/
data/faiss/

# MLflow
mlruns/
mlflow.db

# OS files
.DS_Store



